/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Define colors */
$primary-color: #4758DC;
$secondary-color: #404040;
$primary-color-disabled: #8B9ACE;
$hover-color: #E1EBFF;
$success-color: #058F23;
$danger-color: #E32327;
$warning-color: #F2994A;
$background-color: #EFEFEF;
$black-color: #000000;
$white-color: #ffffff;
$border-color: #97999C;